<div class="container">
    <div class="col-md-12 tooling-facility">
        <div class="row">
            <div class="col-md-6 too">
                <h4>Tooling Facility</h4>
                <div class="content">
                    <ul>
                        <li>We have standard CNC router from Flexicam which can produce small patterns and 8 axis
                            Robotic Milling which can produce large parts.
                        </li>
                        <li>We use advanced manufacturing technologies to produce extremely accurate and robust molds.
                        </li>
                        <li>The raw materials are carefully chosen for pattern and mold making.
                        </li>
                        <li>The coatings used for pattern is easy to sand and will give excellent gloss properties.
                        </li>
                        <li>The raw material for producing molds have excellent zero shrink properties and the gel coats
                            have excellent gloss retention to produce high quality and accurate parts.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 too">
                <h4>Robotic Machining technologies</h4>
                <div class="content">
                    <ul>
                        <li> We use advanced 8 axis robotic machining technology from CNC Robotics (UK) with 6 axis
                            robot from Kuka (Germany), 7th axis linear track, 8th axis rotary table offering extreme
                            flexibility in reaching any complicated shape in our tooling department.
                        </li>
                        <li>Patterns as big as 15 meter (long) x 3 meter (wide) x 3 meter (height) can be machined in
                            single piece for high precision.
                        </li>

                        ​<li>We use advanced offline robotic software technologies from Delcam (UK).
                        </li>
                        <li>The machine is equipped with Kuka CNC functionality where the robotic system starts behaving
                            like CNC machining using similar strategies to achieve very good surface finish and
                            accuracy.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Image Gallery-->

<div class="gallery">
    <div class="container">
        <div class="col-md-12 g-1">
            <div class="row">
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/1.jpeg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/2.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/3.jpeg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/4.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/5.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/6.png" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/7.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/8.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/9.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/10.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/11.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/12.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/13.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/14.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/15.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/16.png" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/17.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/18.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/19.jpg" alt="">
                </div>
                <div class="col-md-3">
                    <img src="../../../../assets/Tooling Images/20.jpg" alt="">
                </div>
    
            </div>
        </div>
    </div>
    
</div>