<div class="superbar">
    <h1>News</h1>
</div>
<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">News</li>
</ul>
<section class="news">

 <div class="blog-card" id="tris">
    <div class="header">
      <h2 class="category">1.IIT Tirupati Visiting</h2>
    </div>
  
    <div class="col-md-12"> 
            <div class="row">
                <div class="col-md-6 wrs">
                    <img class="picture-wrapper" src="../../../assets/IIT Tirupati Visit/IIT Tirupati Visit/image2.jpg">

                </div>
                <div class="col-md-6">
                    <div class="text-wrapper">  
                        <h5 class="title"> Mr. Subba Reddy Daggumati</h5>
                        <span class="what">Assistant Professor, Mechanical Engineering from IIT Tirupati</span>
                        <h3 class="author">Date:25th December 2020</h3>
                        <p class="text">
                            Mr. Subba Reddy Daggumati, Assistant Professor, Mechanical Engineering from IIT Tirupati has visited TrioVision facility to understand the products and processes that we are using. From an extensive research background in Advanced Composites, Mr. Subba Reddy was very much impressed and excited for a joint Univeristy/Industry collaboration to take forward some exciting Research projects forward. IIT Tirupati also has state of the art structural testing facilities which will support TrioVision to jointly move some advance material research formulations forward.
                        </p>
                      </div>
                </div>
            </div>
    </div>
     
  </div>



  <div class="blog-card" id="amb">
    <div class="header">
      <h2 class="category">2.Tiwan Ambassador Visit</h2>
    </div>
  
    <div class="col-md-12"> 
            <div class="row">
                <div class="col-md-6 wrs">
                    <img class="picture-wrapper" src="../../../assets/Gallery/IMG-20210109-WA0008.jpg">

                </div>
                <div class="col-md-6">
                    <div class="text-wrapper">  
                        <h5 class="title">Tiwan Ambassador Visit</h5>
                        <h3 class="author">Date:10th December 2020</h3>
                        <p class="text">
                              Ambassador of Taiwan has visited TrioVision facility to move understand the products range and possibilities of any industrial collaborations. Ambassador was very excited and happy to see diversified products made in Kopparthi Mega Industrial Park of Kadapa produced at such International standards and exported to various countries.           
                                     </p>
                      </div>
                </div>
            </div>
    </div>
     
  </div>




  
  <div class="blog-card" id="ind">
    <div class="header">
      <h2 class="category">3.Industrial Director</h2>
    </div>
  
    <div class="col-md-12"> 
            <div class="row">
                <div class="col-md-6 wrs">
                    <img class="picture-wrapper" src="../../../assets/Gallery/IMG-20201230-WA0003.jpg">

                </div>
                <div class="col-md-6">
                    <div class="text-wrapper">  
                        <h5 class="title">Sri J.V.N. Subramanyam, IAS</h5>
                            <span class="what">Director of Industries, Commerce & Export Promotion</span><br>
                        <h5 class="title">Sri K. Raveen Kumar Reddy, IRTS</h5>
                        <span class="what">Vice Chairman & Managing Director</span><br>
                        <h3 class="author">Date:25th November 2020</h3>
                        <p class="text">
                            AP Infrastructure Director Mr.Sri J.V.N. Subramanyam, IAS and AP Industrial Development Director Mr. Sri K. Raveen Kumar Reddy, IRTS have visited TrioVision to see the progress and to discuss on the expansion plans. They were impressed with the technological growth using advanced Robotic Technologies and exporting products globally from state of Andhra Pradesh.                    
                            </p>
                      </div>
                </div>
            </div>
    </div>
     
  </div>




    
  <div class="blog-card" id="exp">
    <div class="header">
      <h2 class="category">Expantion Plans of Triovision</h2>
    </div>
  
    <div class="col-md-12"> 
            <div class="row">
                <div class="col-md-6 wrs">
                    <img class="picture-wrapper" src="../../../assets/imagess/man.jpg">

                </div>
                <div class="col-md-6">
                    <div class="text-wrapper">  
                        <!-- <h5 class="title">Sri J.V.N. Subramanyam, IAS</h5>
                            <span>Director of Industries, Commerce & Export Promotion</span><br>
                        <h5 class="title">Sri K. Raveen Kumar Reddy, IRTS</h5>
                        <span>Vice Chairman & Managing Director</span><br>
                        <span>A.P Industrial Infrastructure Corporation</span><br>
                        <span>APIIC Towers, Mangalagiri, Guntur Dist</span>
                        <h3 class="author">Date:10th November 2020</h3> -->
                        <p class="texted">
                            <i class="fas fa-quote-left"></i> TrioVision is happy to announce that it is entering into a phase of expansion looking at the tremendous growth of Railways. The new facility is planned in a area of 90,000 square meter which will have a state of the art dedicated Rail and Wind production. Along with the production lines, Aerospace and Defence production line is also planned in the new facility. TrioVision also is planning to have its own fabrication facility which can not only provide metal supply to its own Rail and Wind requirement but also could support other companies. TrioVision is also in talks to have an innovation center for Electric Vehicle Development. With the expansion TrioVision expects to further give employment upto 1,000 once all facilities start operating in their full capacity.   <i class="fas fa-quote-right"></i>             
                        </p>
                           </div>
                </div>
            </div>
    </div>
     
  </div>

</section>



  