<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">More<i class="fas fa-greater-than"></i></li>
    <li class="normal">Awards</li>
</ul>
<section class="awards">
   <div class="container">
       <div class="col-md-12">
           <h5>Awards</h5>
           <hr>
       </div>
       <div class="col-md-12 awds">
           <h3>ICERP/JEC 2019 Innovation Award in E-Mobility sector</h3>
           <img src="../../../../assets/Awards/DSC_1261.JPG">

           </div>
           <div class="col-md-12 awds">
               <h3>ICERP/JEC 2017 Innovation Award in E-Mobility sector</h3>
            <img src="../../../../assets/Awards/IMG_1290.JPG" alt="">
            </div>
       </div>
</section>

<!-- 
<div *ngFor="let image of _album; let i=index">
    <img [src]="image.thumb" (click)="open(i)" />
  </div> -->