<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">About Us<i class="fas fa-greater-than"></i></li>
    <li class="normal">Our Vision</li>
</ul>
<section class="vission">
    <div class="container">
        <div class="col-md-12">
            <h5>Our Vision</h5>
            <hr>
        </div>
      </div>
</section>


<div class="container vis">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="title">
                    <h2>Trio Vision</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="data">
                    <p>To be a global leader in Engineering, Prototyping and manufacturing of fiber reinforced plastics
                        for different applications using our core values of Quality, Innovation and Delivery to excel in satisfaction to our customers and stake holders.
                </div>
            </div>
        </div>
    </div>
</div>