<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">About Us<i class="fas fa-greater-than"></i></li>
    <li class="normal">certifications</li>
</ul>
<section class="cert">
    <div class="container-fluid">
        <div class="col-md-12">
            <h5>Certifications</h5>
            <hr>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="cctv">1.ISO 9001/2015 from QMS</h4>
                    <img src="../../../../assets/certificatess/certification1.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <h4>2.ZED certificate from Quality Council of India</h4>
                    <img src="../../../../assets/certificatess/Certification2.jpg" alt="">
                </div>
                <div class="col-md-4">
                    <h4>3.OHSAS 18001, ISO 14001 and IRIS.</h4>
                    <div class="progress">
                        <h4>This Certificates currently in progress</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>