<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">More<i class="fas fa-greater-than"></i></li>
    <li class="normal">Current Jobs</li>
</ul>
<section class="jobs">
  
   <div class="container">
       <div class="col-md-12">
        <h5>Current Jobs</h5>
        <hr>
       </div>
    </div>


    <div class="container">
        <div class="col-md-12">
            <div class="jobbs">
                <h3>Designer Engineer-03</h3>
                <h6>Qualification:</h6>
                <span class="qual">BE/BTech/ME/MTech Mechanical/Industrial/Production engineering with 1-3 years experience in working with any DESIGN </span>
                    <span class="qual">software's like CATIA, Unigraphics, Solidworks</span><br>
                <span  class="qual">PowerShape etc..
                    Composites experience preferred but experience in manufacturing industry is mandatory. Applicants from
                    <span class="qual">Automotive/Rolling Stock/Railways would be preferred.</span> 
                 </span><br><br>
                 <i class="fas fa-map-marker-alt"></i>
                <span  class="quals">Plant/Work Location: </span><br>
                   <span class="qual"> KADAPA, Andhra Pradesh, India</span><br>
                <span  class="qual"> interested candidates can send their resume to <a href="mailto:careers@triovision.in">careers@triovision.in</a></span> <br>
                <span  class="qual">  Note: candidates need to clear the DESIGN test at the office.</span> <br>
                <span class="qual">We’re #hiring for a Engineer at Triovision Composite Technologies Pvt Ltd.</span><br>
                <button routerLink="/contact">For More Enquiry</button>
            </div>






            <div class="jobbs">
                <h3>Production Engineer-02</h3>
                <h6>Qualification:</h6>
                <span class="qual">BE/BTech/ME/MTech Mechanical/Industrial/Production engineering with 2-3 years experience in a manufacturing industry. </span>
                    <span class="qual">Diploma in Mechanical or diploma from NTTF/CITD with 4-5 years’ experience in a manufacturing industry.</span><br>
                <span  class="qual">PowerShape etc..
                    Composites experience preferred but experience in manufacturing industry is mandatory. Applicants from
                    <span class="qual">Automotive/Rolling Stock/Railways would be preferred.</span> 
                 </span><br><br>
                 <i class="fas fa-map-marker-alt"></i>
                <span  class="quals">Plant/Work Location: </span><br>
                   <span class="qual"> KADAPA, Andhra Pradesh, India</span><br>
                <span  class="qual"> interested candidates can send their resume to <a href="mailto:careers@triovision.in">careers@triovision.in</a></span> <br>
                <span  class="quals"> Job Details: </span><br>
                    <p> we are searching for a reliable, innovative Asst/Jr. Production Engineer/ Supervisor to oversee manufacturing processes at our company. The candidate will join our growing team of professionals and be responsible for supervising Associates, ensuring health and safety codes are followed, training all employees, Reduction wastage, improve productivity, responsible use of machinery, identifying problems in the production line, troubleshooting equipment, and completing various administrative tasks.
                    To be successful as a Production Engineer/Supervisor, Candidate should be an independent thinker and keen problem-solver. Knowledge and involvement in 5S/Kaizen/OHSAS.
                    </p> <br>
                <button routerLink="/contact">For More Enquiry</button>
            </div>


            <div class="jobbs">
                <h3>PRODUCTION MANAGER-01</h3>
                <h6>Qualification:</h6>
                <span class="qual">BE/BTech/ME/MTech Mechanical/Industrial/Production engineering with 5-8 years experience in a manufacturing industry. </span>
                    <span class="qual">Diploma in Mechanical or diploma from NTTF/CITD with 7-9 years experience in a manufacturing industry.</span><br>
                <span  class="qual">
                    Composites experience preferred but experience in manufacturing industry is mandatory. Applicants from
                    <span class="qual">Automotive/Rolling Stock/Railways would be preferred.</span> 
                 </span><br><br>
                 <i class="fas fa-map-marker-alt"></i>
                <span  class="quals">Plant/Work Location: </span><br>
                   <span class="qual"> KADAPA, Andhra Pradesh, India</span><br>
                <span  class="qual"> interested candidates can send their resume to <a href="mailto:careers@triovision.in">careers@triovision.in</a></span> <br>
                <span  class="quals"> Job Details: </span><br>
                    <p> 
                        This position is responsible for Safety, Daily Quality Production, Maintenance, RM & PM Inventory, Production Planning & Data entry as per the standard manufacturing practices. Position is responsible for Shop floor Management with Production Planning.
                    </p> <br>
                <button routerLink="/contact">For More Enquiry</button>
            </div>



            <div class="jobbs">
                <h3>QUALITY MANAGER-01</h3>
                <h6>Qualification:</h6>
                <span class="qual">BE/BTech/ME/MTech Mechanical/Industrial/Production engineering with 6+ years  experience In manufacturing industry. </span>
                <span  class="qual">
                    Composites experience preferred but experience in manufacturing industry is mandatory. Applicants from
                    <span class="qual">Automotive/Rolling Stock/Railways would be preferred.</span> 
                 </span><br><br>
                 <i class="fas fa-map-marker-alt"></i>
                <span  class="quals">Plant/Work Location: </span><br>
                   <span class="qual"> KADAPA, Andhra Pradesh, India</span><br>
                <span  class="qual"> interested candidates can send their resume to <a href="mailto:careers@triovision.in">careers@triovision.in</a></span> <br>
                <span  class="quals"> Job Details: </span><br>
                    <p>
                        1.Manage, coach and develop a high performing Quality Operations team that meets agreed objectives and which delivers best practice results, added value and continuous improvements.<br>
                        2.To Implement & coordinate effective Quality Management System (QMS) activities in organization as per Management expectations. <br>
                        3.Develop quality-process links with the clients and QMS (including: ISO9001/14001 / 45001/TS16949) (ISO9100 is preferred)<br>
                        4.Undertake internal process audits and supplier developments of the QMS.<br>
                        5.Understand customer needs and requirements to develop effective quality assurance processes<br>
                        6.Input and hold responsibility for Quality targets/ budgets<br>
                        7.Knowledge on six sigma/Lean Management Techniques.<br>
                        8.Flexible for travel to customer sites.<br>
                        9.Ensure the quality performance of the process.<br>
                        10.Must manage customer complaints and resolve using 8D process.<br>
 
                    </p> <br>
                <button routerLink="/contact">For More Enquiry</button>
            </div>






            <div class="jobbs">
                <h3>SUPPLY CHAIN MANAGER-01 [job code TRIO28]</h3>
                <h6>Qualification:</h6>
                <span class="qual">BE/BTech/ME/MTech Mechanical/Industrial/Production engineering with 5-8 years experience in a manufacturing industry. </span>
                <span class="qual">MBA/PGDM in any specialization.</span><br>
                <span class="qual">Experience on any ERP Software is Mandatory.</span><br>
                <span  class="qual">
                    Composites experience preferred but experience in manufacturing industry is mandatory. Applicants from
                    <span class="qual">Automotive/Rolling Stock/Railways would be preferred.</span> 
                 </span><br><br>
                 <i class="fas fa-map-marker-alt"></i>
                <span  class="quals">Plant/Work Location: </span><br>
                   <span class="qual"> KADAPA, Andhra Pradesh, India</span><br>
                <span  class="qual"> interested candidates can send their resume to <a href="mailto:careers@triovision.in">careers@triovision.in</a></span> <br>
                <span  class="quals"> Job Details: </span><br>
                    <p>
                        1.Responsible for and plans, organizes and manages the procurement process for all projects.<br>
                        2.Ability to fit purchase into project ecosystem besides maintaining freight and supply chain costs.<br>
                        3.Managing diverse procurement/sourcing activities and aligning with design engineering.<br>
                        4.Develop and maintain productive relationships with direct reports, senior management, vendors, other support groups and project team members.<br>
                        5.Review of all purchase orders and contracts.<br>
                        6.Ensuring accuracy and adequacy of purchasing/contracts negotiation and supply chain administration activities.<br>
                        7.Fulfillment of various supply chain requirements relating to project performance.<br>
                        8.Timeliness, accuracy and adequacy of problem identification, status reporting and corrective actions.<br>
                        9.Negotiation of T&C, Prices and Vendor Management.<br>
                        10.Coordination with expediting and project management teams during project execution to maintain on-time material delivery and supply.<br>

 
                    </p> <br>
                <button routerLink="/contact">For More Enquiry</button>
            </div>





            <div class="jobbs">
                <h3>MAINTENANCE ENGINEER-01</h3>
                <h6>Qualification:</h6>
                <span class="qual">BE/BTech/ME/MTech Mechanical/Industrial/Production/Electrical engineering with 2-5 Years experience in manufacturing industry.</span>
                <span  class="qual">
                    Composites experience preferred but experience in manufacturing industry is mandatory. Applicants from
                    <span class="qual">Automotive/Rolling Stock/Railways would be preferred.</span> 
                 </span><br><br>
                 <i class="fas fa-map-marker-alt"></i>
                <span  class="quals">Plant/Work Location: </span><br>
                   <span class="qual"> KADAPA, Andhra Pradesh, India</span><br>
                <span  class="qual"> interested candidates can send their resume to <a href="mailto:careers@triovision.in">careers@triovision.in</a></span> <br>
                <span  class="quals"> Maintenance Engineer Job Description  </span><br>
                    <p>
                        As a Maintenance Engineer, you will be required to install new equipment, conduct routine maintenance, and troubleshoot equipment faults on site. You may also be required to remove old equipment and train staff on equipment operating procedures.
                        To ensure success as a Maintenance Engineer, you should have extensive knowledge of industrial equipment, the ability to work well under pressure, and demonstrate high-level problem-solving skills. An outstanding Maintenance Engineer should be able to service, troubleshoot, and repair equipment without causing extended equipment downtime.
                     </p> <br>
                     <span  class="quals"> Maintenance Engineer Requirements: </span><br>
                     <p>
                        Knowledge of EPA and OSHA guidelines.<br>
                        Advanced knowledge of mechanical, electrical, plumbing, and heating systems.<br>
                        Ability to read system schematics.<br>
                        Advanced troubleshooting skills.<br>
                        Understanding of safety and equipment procedures.<br>
                        Good communication and training skills.<br>
                        Ability to work with heavy equipment.<br>
                        
                      </p> <br>
                    
                <button routerLink="/contact">For More Enquiry</button>
            </div>



            
        </div>

    </div>


       

</section>
