<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">About Us<i class="fas fa-greater-than"></i></li>
    <li class="normal">Our Team</li>
</ul>
<section class="team">
    <div class="container">
        <div class="col-md-12">
            <h5 class="text-center">OUR TEAM</h5>
            <hr>
        </div>
        <div class="col-md-12 col-sm-12">
            <p>With a young and dynamic team, TrioVision has always been very active in ensuring its core values are maintained and ensuring customer satisfaction. Started with a small team of 40, TrioVision now expanded itself to 250. We are an equal opportunity employer with people working from various cultures in one platform.</p>

            <div class="team-member term">
                <div class="team-img1">
                    <img src="../../../../assets/ourteam/image6.jpg" alt="team member" class="img-responsive">
                </div>
            </div>
            <p>Unity with diversity is our mantra. Our recruitment process does not rely on percentages and marks, we look for a positive attitude, ability to work hard and strong basics. If you have these qualities do not hesitate to apply through our careers page or contact our HR department to be part of our exciting projects and grow together with TrioVision.</p>

            <!-- <div class="team-title">
                <h5>G Mahesh</h5>
                <span>Plant Head</span>
            </div> -->
        </div>




        <div class="container">
            <div class="row">
                <div class="col-md-12 drs">
                    <div class="direcc im1">
                        <div class="team-member">
                            <div class="team-img">
                                <img src="../../../../assets/Directors/Linkedin Profile Picture.jpg" alt="team member" class="img-responsive">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Bachelors in Mechanical engineering with dual Masters in Displays and Mechatronics from Sweden and Germany with 14 years experience in composites</p>
                                </div>
                                <!-- <div class="s-link">
                                    <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                                    <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="team-title">
                            <h5 class="nandan">Sunil Yallapragada</h5>
                            <span>Managing Director</span>
                        </div>          
                     </div>
                    <div class="direcc im2">
                        <div class="team-member">
                            <div class="team-img">
                                <img src="../../../../assets/Directors/PSX_20210102_160528.jpg" alt="team member" class="img-responsive">
                            </div>
                            <div class="team-hover">
                                <div class="desk">
                                    <p>Bachelors in Mechanical engineering with Masters in Operations Management from Austria with 17 years experience in Engineering and Quality Management.</p>
                                </div>
                                <!-- <div class="s-link">
                                    <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                                    <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                                    <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                                </div> -->
                            </div>
                        </div>
                        <div class="team-title">
                            <h5 class="nandan">Nandan Reddy M V B S</h5>
                            <span>Corporate Director</span>
                        </div>            
                    </div>
                </div>
            </div>
        </div>





        <div class="row">


            <div class="col-md-4">
                <div class="team-member works">
                    <div class="team-img">
                        <img src="../../../../assets/ourteam/image3.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <p>Bachelors in Electrical engineering with 8 years experience in Project Quality and Business Development.</p>
                        </div>
                        <!-- <div class="s-link">
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="team-title">
                    <h5 class="nandan">Parthiban Selvan</h5>
                    <span>Quality and Business Development Manager</span>
                </div>
            </div>



            <div class="col-md-4">
                <div class="team-member works">
                    <div class="team-img">
                        <img src="../../../../assets/ourteam/image5.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <p>Bachelors in Mechanical engineering with 8 years experience in Design and Business Development.</p>
                        </div>
                        <!-- <div class="s-link">
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="team-title ">
                    <h5 class="nandan">Ramakrishna Reddy Konda</h5>
                    <span>Engineering and Business Development Manager</span>
                </div>
            </div>


         
            <div class="col-md-4">
                <div class="team-member works">
                    <div class="team-img">
                        <img src="../../../../assets/ourteam/image4.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <p>Bachelors in Mechanical engineering with 16 years experience in Production and Operations</p>
                        </div>
                        <!-- <div class="s-link">
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="team-title">
                    <h5 class="nandan">Mahesh Gujjula</h5>
                    <span>Plant Manager</span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="team-member works">
                    <div class="team-img ">
                        <img src="../../../../assets/ourteam/image1.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <p>Bachelors in Commerce with 10 years experience in manging Accounts in manufacturing industry.</p>
                        </div>
                        <!-- <div class="s-link">
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="team-title">
                    <h5 class="nandan"> Vasu Babu Nalluri</h5>
                    <span>Finance Manager</span>
                </div>
            </div>


            <div class="col-md-4">
                <div class="team-member works">
                    <div class="team-img you">
                        <img src="../../../../assets/ourteam/image2.jpeg" alt="team member" class="img-responsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <p>Bachelors in Pharmacy with Masters in Business Administration and having 6 years experience in Human Resources and Administration.</p>
                        </div>
                        <!-- <div class="s-link">
                            <a href="#"><i class="fa fa-facebook facebook-bg"></i></a>
                            <a href="#"><i class="fa fa-twitter twitter-bg"></i></a>
                            <a href="#"><i class="fa fa-google-plus google-bg"></i></a>
                        </div> -->
                    </div>
                </div>
                <div class="team-title">
                    <h5 class="nandan">Yugandhar Reddy</h5>
                    <span> HR Manager</span>
                </div>
               
            </div>

        

    
        </div>
      
    </div>
</section>



