<div id="demo" class="carousel slide col-md-12 col-sm-12 col-lg-12" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    <li data-target="#demo" data-slide-to="4"></li>

  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/IMAGES/mtr.jpeg" alt="Los Angeles" width="1100" height="600">

    </div>
    <div class="carousel-item">
      <img src="./assets/IMAGES/winder.jpg" alt="Chicago" width="1000" height="600">

    </div>
    <div class="carousel-item">
      <img src="./assets/IMAGES/Volvo-B7R.png" alt="New York" width="1000" height="600">

    </div>
    <div class="carousel-item">
      <img src="./assets/IMAGES/car.jpg" alt="New York" width="1000" height="600">

    </div>
    <div class="carousel-item">
      <img src="./assets/IMAGES/ship.jpg" alt="New York" width="1000" height="600">

    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>










<div class="mission">
  <h2>Triovision Composite Technologies</h2>
  <div class="container">
    <div class="row">

      <div class="col-md-4 ">
        <div class="radi" routerLink="/vission">
          <div class="eye">
            <i class="fas fa-eye"></i>
            <h4>vision</h4>
          </div>
        </div>
        
      </div>


      <div class="col-md-4 ">
        <div class="radi" routerLink="/mission">
          <div class="eye">
            <i class="fas fa-dot-circle"></i>
            <h4>Mission</h4>
          </div>
        </div>
        
      </div> 


      <div class="col-md-4 ">
        <div class="radi" routerLink="/cert">
          <div class="eye">
            <i class="fas fa-file-alt"></i>
            <h4>Certification</h4>
          </div>
        </div>
       
      </div>  
      </div>
    </div>
  </div>











































<div class="pcar">


  <h2>Shaping Ideas Into Reality</h2>
  <div class="projcard-container">

    <div class="projcard projcard-blue" routerLink="/lush">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="./assets/Lush/image1.jpg">
        <div class="projcard-textbox">
          <div class="projcard-title">Lush Motors</div>
          <div class="projcard-subtitle">Smart SUMV For Lush Motors</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">TrioVision in collaboration with Lush Motors has designed a Smart Urban
            Mobility Vehicle- 2 seater x 3 wheeler for city commuting. The vehicle is built in GFRP using closed molding
            process with specialized loose insert tooling.</div>
        </div>
      </div>
    </div>

    <div class="projcard projcard-red" routerLink="/traffic">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="./assets/Traffic Booth/IMG20210109180159.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">Traffic Booth</div>
          <div class="projcard-subtitle">Police Traffic Booth</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">TrioVision in collaboration with Gaha Innofab has designed and developed
            from concept 6.5 feet and 4.5 feet circular police traffic booths supplied to Signpost in Bengaluru. These
            booths have been of great benefit to the BBMP policemen where they can sit inside and still have 360 degrees
            viewing along with signal controls and CCTV controlled from the booth.</div>
        </div>
      </div>
    </div>

    <div class="projcard projcard-green" routerLink="/windtool">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="./assets/Wind strip photos/image9.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">WindStrip</div>
          <div class="projcard-subtitle">TrioVision in collaboration with Windistrip LLC based at Minnesota</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">The 1290 series that is developed has 18 blades with a baseline of Savonius
            effect and patented design by Windstrip. The blades are designed in such a way that the wind cutting
            direction is carefully simulated allowing the system to start running at barely 2 meter per second wind
            speeds.</div>
        </div>
      </div>
    </div>

    <div class="projcard projcard-customcolor" style="--projcard-color: #F5AF41;" routerLink="/cnc">
      <div class="projcard-innerbox">
        <img class="projcard-img" src="./assets/Robotic milling/PSX_20210106_151812.jpg" />
        <div class="projcard-textbox">
          <div class="projcard-title">Robotic Milling</div>
          <div class="projcard-subtitle">CNC Machining</div>
          <div class="projcard-bar"></div>
          <div class="projcard-description">TrioVision uses one of the biggest robotic milling machine in India with 8
            axis and can mill upto 15 meter long x 5 meter wide x 3 meter height in single piece. Patterns bigger than
            this normally gets machined in splits and can be joined accurately with our skilled manpower.</div>
        </div>
      </div>
    </div>

  </div>


</div>





































<div class="video">
  <img src="./assets/IMAGES/WhatsApp Image 2021-01-02 at 5.15.15 PM.jpeg" alt="Notebook" style="width:100%;">
  <div class="content">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 det">
          <h1>Triovision Composite Technologies</h1>
          <h5>Lush Motors Technology...First time In India</h5>
        </div>
        <div class="col-md-6 player">
          <youtube-player videoId="tOUEPDV1Wds" suggestedQuality="highres" [height]="300" [width]="450"
            [startSeconds]="1" [endSeconds]="168">
          </youtube-player>
        </div>

      </div>
    </div>

  </div>
</div>











<div class="shape">
  <div class="col-md-12">
    <h3 class="shapeidea">News Feed</h3>
  </div>
</div>





<div id="container ppt">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 col-sm-12"  (click)="event1()">
        <div class="product-details">
          <a class="news">NEWS</a>
          <h4> IIT Tiruparhi Vistors</h4>


          <p class="information">" Mr. Subba Reddy Daggumati, Assistant Professor, Mechanical Engineering from IIT
            Tirupati has visited TrioVision..."</p>




        </div>

        <div class="product-image">

          <img src="./assets/Gallery/IMG-20210109-WA0002.jpg" alt="">



        </div>

      </div>











      <div class="col-md-6 col-sm-12" (click)="event2()">
        <div class="product-details">
          <a class="news">NEWS</a>
          <h4> Tiwan Ambassador Visit</h4>

          <p class="information">"Ambassadorr of Taiwan has visited TrioVision facility to move understand
            the products range and possibilities of any..."</p>



        </div>

        <div class="product-image">

          <img src="./assets/Gallery/IMG-20210109-WA0008.jpg" alt="">



        </div>

      </div>







      <div class="col-md-6 col-sm-12" (click)="event3()">
        <div class="product-details">
          <a class="news">NEWS</a>
          <h4>Industrial Director</h4>


          <p class="information">"AP Infrastructure Director Mr.Sri J.V.N. Subramanyam, IAS and AP Industrial
            Development Director Mr. Sri K. Raveen Kumar Reddy, IRTS have visited TrioVision.."</p>





        </div>

        <div class="product-image">

          <img src="./assets/Gallery/IMG-20201230-WA0003.jpg" alt="">



        </div>

      </div>










      <div class="col-md-6 col-sm-12" (click)="event4()">
        <div class="product-details">
          <a class="news">NEWS</a>
          <h4>Expantion Plans of Triovision</h4>


          <p class="information">" TrioVision is happy to announce that it is entering into a phase of expansion looking
            at the tremendous growth of Railways..."</p>





        </div>

        <div class="product-image">

          <img src="./assets/imagess/man.jpg" alt="">



        </div>

      </div>
    </div>
  </div>




</div>






<div class="subsc">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="d-tb" style="height: 150px;">
          <div class="d-tbc vam">
            <h2 class="mt0">Subscribe to our newsletter</h2>
            <p>Keep up to date with the latest developments at Triovision, from new
              composite technologies, to cutting edge research from our
              centres in Europe.</p>
          </div>
        </div>
      </div>


      <div class="col-md-6 col-sm-6">
        <div class="d-tb" style="height: 150px;">
          <div class="d-tbc vam">
            <form action="" method="POST" id="newsletter">
              <input type="hidden" name="action" value="newsletter">
              <div id="reply_message" style="display:none;color:#fff;" class="pb5"></div>
              <input type="email" class="form-control" name="email" placeholder="Enter your email address"
                style="border:0;">
              <div class="text-right mt15"><input type="submit" class="btn btn-default send-btn"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>