<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">About Us<i class="fas fa-greater-than"></i></li>
    <li class="normal">Our Mission</li>
</ul>
<section class="mission">
    <div class="container">
        <div class="col-md-12">
            <h5>Our Mission</h5>
            <hr>
        </div>
    </div>
</section>



<div class="container vis">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <div class="title">
                    <h2>Our Mission</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="data">
             <h6>Quality:</h6>
            <p>Producing Quality parts with an objective to make it First Time Right.</p>
            <h6>Innovation:</h6>
            <p>To Explore innovative ways of doing things better by developing Advanced Technologies/methods</p>
            <h6>Delivery:</h6>
            <p>To Ensure on time Delivery of products and services to customers using advanced supply chain tools.</p>
                </div>
            </div>
        </div>
    </div>
</div>