<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">Capabilities<i class="fas fa-greater-than"></i></li>
    <li class="normal">CNC Machining</li>
</ul>
<section class="machining">
  
   <div class="container">
       <div class="col-md-12">
        <h5>CNC Machining</h5>
        <hr>
       </div>
       <div class="col-md-12">
        <p>
         TrioVision uses one of the biggest robotic milling machine in India with 8 axis and can mill upto 15 meter long x 5 meter wide x 3 meter height in single piece. Patterns bigger than this normally gets machined in splits and can be joined accurately with our skilled manpower. 
 
        </p>
        <p>
         We also have one 3 axis CNC machine of 5 meter long x 3 meter wide x 0.5 meter height which is used to machine medium size patterns and one more cnc machine 4 meter long x 2 meter width and 0.25 meter height for template machining. Our machines run 24 x 7 giving greater throughput in machining at great accuracies.
 
        </p>
    </div>
    <div class="container images">
        <div class="row">
            <div class="col-md-6 col-sm-12" *ngFor="let image of albums; let i=index">
                <img [src]="image.thumb" (click)="open(i)"  />
            </div>
        </div>
   </div>
</div>


</section>




