<!-- Top Bar -->

<div class="topbar">
    <div class="container">
            <div class="col-sm-12 col-md-12">
                <div class="topbar-left">
                    <div class="welcome-text">
                    <p>Welcome to <span>TrioVision Composite Technologies</span>, we're here to help you</p>
                    </div>
                </div>
            </div>
            </div>
</div>

<!-- TOP BAR LOGO SECTION -->



<!-- <div class="topbar-logo">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="/assets/IMAGES/lll.jpg" alt="" class="logo" />
        </a>

        <div class="contact-info">
            <div class="box-icon-1">
                <div class="icon">
                    <div class="fa fa-phone"></div>
                </div>
                <div class="body-content">
                    <div class="heading">(+91) 8806766926</div>
                    <div class="heading">(+91) 9494080834</div>
                    www.triovision.in
info@triovision.in
                </div>
            </div>
            <div class="box-icon-1">
                <div class="icon">
                    <div class="fa fa-map-marker"></div>
                </div>
                <div class="body-content">
                    <div class="heading">Plot No. 176, Kopparthy mega Industrial Park,

                        Ambavaram,
                        
                       </div>
                       Kadapa, Andhra Pradesh, 516293,India
                </div>
            </div>

        </div>
    </div>
</div> -->
<app-header></app-header>
<div>
    <router-outlet></router-outlet>
</div>
<div>
    <app-footer></app-footer>
</div>