<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">About Us<i class="fas fa-greater-than"></i></li>
    <li class="normal">Our Company</li>
</ul>
<section class="our">
    <div class="container">
        <div class="col-md-12">
            <h5>Our Company</h5>
            <hr>
        </div>
        <div class="col-md-12 iconing">
            <p>
                <i class="fas fa-hand-point-right"></i> TrioVision is established to address growing needs of advanced composite technologies for Indian and Global <br>

            </p>
            <p>   
                <i class="fas fa-hand-point-right"></i> It is nurtured by individuals having vast experience both in industrial and academic background.
            </p>
            <p>
                <i class="fas fa-hand-point-right"></i>It is one of its kind located in Kopparthi Mega Industrial Park of Kadapa city which is South Central part of Andhra Pradesh state which will provide engineering, tooling & manufacturing solutions for composites using advanced technologies under one roof . 
            </p>
            <p>
                <i class="fas fa-hand-point-right"></i>It is the first Indian company using Advanced Robotic Machining Technologies in composites industry.
            </p>
            <p>
                <i class="fas fa-hand-point-right"></i> is one of the three ZED certified supplier in Andhra Pradesh and also certified by ISO 9001:2015 by QMS
            </p>
        </div>
        <div class="col-md-12">
            <img src="../../../../assets/IMAGES/ourcompany1.png" alt="">
        </div>
        <div class="col-md-12">
            <img src="../../../../assets/IMAGES/ourcompany2.jpeg" alt="">
        </div>
        <div class="col-md-12">
            <p>
                TrioVision has been established in 2015 with a great vision of “THREE” individuals to address the growing needs of Composites in India as well as Global Market. The operations started with Engineering and Tooling support in India where it has executed several projects starting from a small robotic cover of 0.5 square meter to huge nacelle covers of upto 100 square meter.
            </p>
        </div>
        <div class="col-md-12">
            <img src="../../../../assets/IMAGES/rr.jpg" alt="">
        </div>
        <div class="col-md-12">
            
            <p>
                One of the biggest Front End of India for Vande Bharat Express sizing around 50 square meter has been developed with great dimensional accuracies. TrioVision has eventually stepped into manufacturing in 2018 and executed projects in various segments. The three principles which has been stepping stones for TrioVision’s success has been Quality, Delivery and Safety.
            </p>
            
        </div>
        <div class="col-md-12">
            <img src="../../../../assets/IMAGES/mat.jpg" alt="">
        </div>
        <div class="col-md-12">
            
            <p>
                Maintaining these principles now TrioVision is stepping out into global market with 2 international projects currently under execution. Innovation has been always in the blood of TrioVision and has been growing with the company ever since its inception. TrioVision is also known to turn out several concept to prototype projects in record time and win awards.
            </p>
        </div>
    </div>
    
</section>