<ul>
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">Capabilities<i class="fas fa-greater-than"></i></li>
    <li class="normal">Engineering</li>
</ul>
<section class="engineering">
   <div class="container">
       <div class="col-md-12">
           <h5>Engineering</h5>
           <hr>
       </div>
       <div class="col-md-12">
           <p>
            TrioVision has capabilities to design starting from concept stage. Whether it is for conversion of existing 2d drawings to 3d cad models or any ideas in a conceptual sketch which needs to be converted into working prototype we have our team of skilled designers who can support in these activities.

           </p>
           <p>
            Not limited to creation of 3d cad models, we have capabilities also to do structural analysis and laminate sample testing to ensure right material thickness are used to give meet desired load conditions. Ergonomic study while designing any vehicle to check optimum space and comfort are provided can also be done and simulated.

           </p>
           <p>
            Apart from industrial design, we do tool design, transportation stillage design, transportation optimization and packaging and also support in providing designs for jigs and fixture development.

           </p>
       </div>
       <div class="container images">
        <div class="row">
            <div class="col-md-6 col-sm-12" *ngFor="let image of albums; let i=index">
                <img [src]="image.thumb" (click)="open(i)"  />
            </div>
        </div>
   </div>
   </div>
</section>