.info {
    padding-top: 5px;
}
 .rough li{
    float: left;
    padding: 10px 0;
    display: block;
    
}
 .rough {
    list-style: none;
}
.rough li{
      font-size: 14px;
      padding: 5px 5px;

}
.rough li i{
    font-size: 10px;
    padding: 0px 10px;
}
.rough li:focus{
    outline: none;
}
 .high{
    font-size: 15px!important;
    color: orange!important;
}
 .high:hover{
    color: rgb(9, 29, 19)!important;
    cursor: pointer;
}


.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
    margin-top: 100px;
}

.container h5{
    color: #ff5e14;
    font-size:25px;
    font-weight: bolder;
    text-transform: uppercase;
}
h6{
    color:#ff5e14;
    padding: 10px 0px 30px 0px;
    font-weight: 600;
}
.text-1{
    word-spacing: 5px;
    font-size: 18px;
    margin-bottom:30px;
}
.tinfo{
    margin-bottom:40px
}
span{
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.rough2{
    margin-top: 20px;
    margin-bottom:20px;
}
.rough2 li{
    margin-bottom: 10px;
    
}
img{
    margin-left: 260px;
    margin-top: 30px;
    margin-bottom:60px;
    display: block;
}
.img1{
    
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom:60px;
    display: block;
}







@media only screen and (min-width: 460px) and (max-width: 600px) {
    img{
        margin-left: -5px;
        margin-top: 30px;
        margin-bottom: 60px;
        display: block;
        width: 300px;
    }
    .img1 {
        margin-left: -1px;
        margin-top: 50px;
        margin-bottom: 60px;
        display: block;
    }

}





@media only screen and (min-width: 601px) and (max-width: 992px) {
    img{
        margin-left: -5px;
        margin-top: 30px;
        margin-bottom: 60px;
        display: block;
        width: 300px;
    }
    .img1 {
        margin-left: -1px;
        margin-top: 50px;
        margin-bottom: 60px;
        display: block;
    }

}
