<ul class="rough">
    <li routerLink="" class="high">Home<i class="fas fa-greater-than"></i></li>
    <li class="normal">Technical Info<i class="fas fa-greater-than"></i></li>
</ul>
<section class="info">
   <div class="container">
       <div class="col-md-12">
           <h5>Technical Info</h5>
           <hr>
       </div>
       <div class="col-md-12 tinfo">
           <h6>WHAT IS A COMPOSITE?</h6>
           <p class="text-1">
            A composite material is composed of at least two materials, which combine to give properties superior to those of the individual constituents. We commonly refer to fibre reinforced polymer (FRP) composites, usually with carbon, glass, aramid, polymer or natural fibres embedded in a polymer matrix. The many component materials and different processes that can be used make composites extremely versatile and efficient. They typically result in lighter, stronger, more durable solutions compared to traditional materials.
           </p>
           <p class="text-1">
            Composite materials are very versatile and are utilized in a variety of applications. Composite parts provide superior strength, stiffness and light weight, and can be formed into any shape. Composite products are ideal in applications where high-performance is required such as aerospace, race cars, boating, rolling stock, sporting goods, and industrial applications. The most widely used composite material is fiberglass in polyester resin, which is commonly referred to as fiberglass. Fiberglass is lightweight, corrosion resistant, economical, easily processed, has good mechanical properties, and has over 50 years of history. It is the dominant material in industries such as boat building and corrosion equipment, and it plays a major role in industries such as architecture, automotive, medical, recreational and industrial equipment.
           </p>
           <p class="text-1">
            The typical composite materials can be made with fibers such as glass fiber, carbon fiber (graphite), Kevlar, quartz and polyester. The fibers come in veil mat, short fibers mat, woven cloth, unidirectional tape, biaxial cloth or triaxial cloth. The resins are typically thermal set resins such as polyester, vinyl ester, epoxy, polyurethane and phenolic. The resins start as a liquid and polymerize during the cure process and harden. The weight ratio of fibers to resin can range from 20% fibers to 80% resin to 70% fibers to 30% resin depending on the reinforcement and manufacturing process chosen. Typically the higher fiber content provides even better strength and stiffness, and continuous fibers provide better strength and stiffness. The use of composite materials provides engineers the ability to tailor the combination of fibers and resin to meet design requirement, and perform better than standard materials.
           </p>
           <p class="text-1">
            Composites materials are replacing metals and plastics in many industries and composites are the material of choice for many new applications. 
           </p>
       </div>
      <div class="col-md-12 tinfo">
          <h6>WHY USE COMPOSITES?</h6>
          <p class="text-1">
            The primary reason composite materials are chosen for components is because of weight saving for its relative stiffness and strength. For example, carbon-fibre reinforced composite can be five times stronger than 1020 grade steel while having only one fifth of the weight. Aluminium (6061 grade) is much nearer in weight to carbon-fibre composite, though still somewhat heavier, but the composite can have twice the modulus and up to seven times the strength. 
          </p>
          <p class="text-1">
            However, a major driving force behind the development of composites has been that the combination of the reinforcement and the matrix can be changed to meet the required final properties of a component. For example, if the final component needs to be fire-resistant, a fire-retardant matrix can be used in the development stage so that it has this property.
          </p>
      </div>
      <div class="col-md-12 tinfo">
          <h6>ADVANTAGES OF USING COMPOSITES:</h6>
          <span>1. Weight reduction</span>
          <ul class="rough2">
              <li>The primary reason composites are chosen is improved specific strength / stiffness (strength / stiffness specific per unit weight).</li>
              <li>This helps to reduce fuel use, or increase acceleration or range in transport.</li>
              <li>It allows for easier, faster installation or faster movement of robot arms and reduces supporting structures or foundations.</li>
              <li>It improves topside stability in vessels and offshore structures and buoyancy for deep sea applications.</li>
          </ul>

          <span>2.Durability and maintenance</span>
          <ul class="rough2">
              <li>Composites don’t rust, which is crucial, especially in marine and chemical environments. The need for maintenance and painting is reduced or eliminated.</li>
              <li>Composite bearings for marine engines and bridges need no lubrication and don’t corrode.</li>
              <li>Combine the excellent fatigue resistance, and composites can increase product lifespan by several times in many applications.</li>
          </ul>

          <span>3.Added functionality</span>
          <ul class="rough2">
              <li>Composites are thermal insulators which is good for fire and blast protection or cryogenic applications.</li>
              <li>Electrical insulation is useful for railway lineside structures and radar transparency. A conductive mesh or coating can be integrated if needed, e.g. to reflect radar or divert lightning.</li>
              <li>Sensors, electronics and cabling can be embedded.</li>
          </ul>

          <span>4.Design freedom</span>
          <ul class="rough2">
              <li>Composites design allows for freedom of architectural form.</li>
              <li>Many parts can be consolidated into one, and stiffeners, inserts, etc. can be integrated in-mould.</li>
              <li>Composites can be tailored to suit the application by choosing the constituent materials and embedding extra functionality.</li>
          </ul>
      </div>
      <div class="col-md-12 tinfo">
        <h6>MECHANICS AND ANALYSIS OF COMPOSITE MATERIALS</h6>
        <p class="text-1">
            The mechanical properties of metal and plastics are isotropic (same strength and stiffness is all directions). The mechanical properties of composite materials are anisotropic (different strength and stiffness depending on the direction of fibers and loading). The difference between isotropic and anisotropic properties complicates the analysis of composite design, but most FEA programs have composite analysis capabilities. The anisotropic property of composite materials allows the engineer to tailor the composites materials to add strength and stiffness only in areas and directions where it is needed thereby reducing weight and costs. 
        </p>
        
    </div>
    <div class="col-md-12 tinfo">
        <h6>TOOLING</h6>
        <p class="text-1">
            Tooling or molds are used to define the shape of the fiberglass parts. The fiberglass part will pick up all shapes and features of the molds; therefore the quality of the part is heavily influenced by the quality of the mold. The molds can be either male or female. The female molds are the most common and they will produce a part with a smooth exterior surface while a male mold will produce a smooth interior surface (please see drawing below).
        </p>
        <img src="../../../assets/Technical Info/image1.jpg" alt="">
        <img src="../../../assets/Technical Info/image2.jpg" alt="">
        <p class="text-1">
            For very short production runs (less than 10 parts), temporary molds can be made from wood, foam, clay or plaster. These molds are economical and can be fabricated quickly, which will allow inexpensive prototype parts to be fabricated. For larger volume production, molds are typically made with fiberglass. These molds have a life expectancy of 10+ years and 1000+ prints. Fiberglass molds are inexpensive and usually only cost 6 to 10 times the price of the part. For prints more than 5,000+ metal tooling is normally considered.
        </p>
        <p class="text-1">
            The mold is a mirror image of the part. To create a mold, a master (plug) is required. The master can be an actual part, or can be fabricated out of wood, foam, plaster, or clay typically CNC milled for faster throughput and ensuring accuracies are maintained. The exact shape and finish of the master plug will be transferred to the mold. Once the master plug is completed, it is polished, waxed and the mold is built up on the master. The fabrication technique of the mold is similar to fabricating a fiberglass part except that tooling materials (gel coat, resins, and cloth) are used to provide a durable mold that has low shrinkage and good dimensional stability. Once the mold is laminated, it is reinforced with wood, fiberglass or a metal structure to ensure that it retains the proper shape. The mold is then removed from the master plug and put into production.
        </p>
    </div>
    <div class="col-md-12 tinfo">
        <h6>VARIOUS MANUFACTURING PROCESSES:</h6>
        <span>1.Open Mold Manufacturing process</span>
        <ul class="rough2">
            <li>The most common manufacturing process for fiberglass is the wet lay-up or chopper gun spray process using an open mold. The shape of the part is determined by the shape of the mold, and the mold surface is typically in contact with the exterior of the part. Mold release is first applied to the mold to prevent the fiberglass part from adhering to the mold. Gel coat, which is pigmented resin, is applied to the mold to give the part color. Fiberglass and resin are then deposited onto the mold and the fiberglass is compressed by rollers, which evenly distributes the resin and removes air pockets. Multiple layers of fiberglass are deposited until the desired thickness is achieved. Once the resin is cured, the part is removed from the mold. Excess material is trimmed off, and the part is ready for paint and assembly. There are also closed mold processes for making fiberglass parts.</li>
               <img class="img1" src="../../../assets/Technical Info/image3.jpg" alt="">
        </ul>
        <span>2.Light Resin Transfer Molding</span>
          <p class="text-1">
            The Light RTM  is a technique that uses vacuum to pull resin into a laminate. The process is done first by loading the fabric fibers and core materials into the mold and a counter mold is used to close the mold and create a vacuum seal. A vacuum pump is used to remove all of the air in the cavity and consolidate the fiber and core materials. Still under vacuum, resin is infused into the mold cavity to wet out the fiber. The locations of the vacuum ports and the resin insertion points need to be carefully planned to ensure full resin infusion. 

          </p>
          <img class="img1" src="../../../assets/Technical Info/image4.jpg" alt="">
          <span>3.Vacuum infusion process:</span>
          <p class="text-1">
            The Vacuum Infusion Process, or VIP, is one of many closed mold processes. It distinguishes itself by being the only process that utilizes only atmospheric pressure to push the resin into the mold cavity. The mold cavity can be a one-sided mold with bagging film being utilized for the “B” side. The process is highly controllable. There are only three variables affecting the flow of the resin: (1) permeability of the laminate, (2) viscosity of the resin, and (3) pressure differential in the cavity in relation to atmospheric pressure. If all three of these variables are unchanged, then the infusion process will consistently flow the same way with every injection for a given part. This also equates to a very accurate bill of material for a given part since the resin and fiberglass usage will not change.
          </p>
          <p class="text-1">
            It also provides an excellent glass-to-resin ratio with minimal to no voids in the finished laminate. This allows for one of the strongest ways of building a composite laminate. 
            Standard composite tooling can be utilized for VIP as long as it will hold a vacuum and the flange is wide enough to seal the bag. This means that you don’t have to invest as much in tooling as other closed mold processes. VIP can give glass content of upto 70 % which gives superior strength at low weight and is the most preferred process for structural applications like aerospace components. 
            

          </p>
          <img class="img1" src="../../../assets/Technical Info/image5.jpg" alt="">
          <img class="img1" src="../../../assets/Technical Info/image6.jpg" alt="">
          <span>4.Prepreg manufacturing Process</span>
          <p class="text-1">
            Prepreg is fabric that has been pre-impregnated with resin (typically epoxy). The resin is cured to stage B, creating a gel that is neither liquid nor solid. Prepreg materials need to be kept frozen to prevent it from being fully cured. The prepreg is cut into shapes and applied to the mold in layers. A vacuum bag is then placed over the material and a vacuum pump draws all of the air out and compresses the layers together and consolidating the materials. The loaded mold is then put into an oven liquefying the resin so it will wet out the fibers. As the temperature increases, the resin will polymerizes and become hardens. The advantages of prepreg are very tight control of fibers ratio, low voids and precise location of the fabric and thickness uniformity. Prepreg materials are typically used for aerospace products and high-performance light weight parts.
          </p>
          <img class="img1" src="../../../assets/Technical Info/image7.jpg" alt="">
      </div>
   </div>
</section>  